/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* header styles */
.header-bg{
    background-image: url(../image/bg.jpg.jpg);
    width: 100%;
    height: 324px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
}
.nav-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.ul-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.logo-style{
    font-size: 14px;
    color: #FFFFFF;
}
.ul-flex li{
    margin-right: 49px;
}
li:last-child{
    margin-right: 0;
}
.home-color{
    font-size: 12px;
    color: #5863F8;
}
.nav-a{
    font-size: 12;
    color: #FFFFFF;
}
.nav-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.li-block ::after{
    content: ' ';
    height: 19px;
    width: 2px;
    color: #FFFFFF;
    display: inline-block;
    vertical-align: middle;
}
.contact-size{
    font-size: 42px;
    color: #FFFFFF;
}
.pseudo-div{    
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    padding-top: 96px;    
}
.pseudo-a{
    font-size: 14px;
    color: #FFFFFF;
}
/* map saction styles */
.map-div{
    max-width: 1088px;
    width: 100%;
    height: 286px;
    margin: o auto;
    padding: 50px 139px;
    
}
.map{
    max-width: 1088px;
    width: 100%;
    /* margin-top: 50px;
    margin-left: 139px; */
}
/* form section styles */
.form-text{
    max-width: 1088px;
    width: 100%;
    height: 286px;
    margin: 0 auto;
}
.form-contact{
    font-size: 14px;
    color: #5863F8;
}
.forms-massage{
    margin-top: 10px;
    max-width: 378px;
    width: 100%;
    height: 115px;
    height: 100%;
    font-size: 42px;
    color: #000000;
}
.form-div{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}
.textarea-descr{
    max-width: 720 px;
    width: 100%;
    height: 288px;
    resize: none;
}
.input-style{
    max-width: 352px;
    width: 100%;
    height: 60px;
    margin-bottom: 16px;
    margin-left: 16px;

}
.blue-box{
    max-width: 352px;
    width: 100%;
    height: 60px;
    margin-bottom: 16px;
    margin-left: 16px;
    background-color: #5863F8;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center



}
.blue-h{
    font-size: 14px;
    color: #FFFFFF;
    margin-right: 5px;
}

.aicon-contact{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.blue-circle{
    max-width: 59px;
    width: 100%;
    height: 58px;
    border-radius: 50px;
    background-color: #5863F8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.circle-title{
    font-size: 18px;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 5px;
    
}
.circle-p{
    max-width: 150px;
    width: 100%;
    height: 44px;
    font-size: 14px;
    color: #B1B1B1;
    text-align: center;
    
}
.aicon-contact1{
    margin-top: 50px;
    max-width: 308px;
    width: 100%;
    height: 222px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
/* photo section styles */
.photo-section{
    max-width: 1088px;
    width: 100%;
    margin: o auto;
    padding-left: 139px;
}
.image{
    max-width: 352px;
    width: 100%;
}
.div-photo{
    max-width: 1366px;
    width: 100%;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
/* footerstyle */
.footercolor{
    width: 100%;
    background-color: #121212;
}
.big-cont-footer{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}
.mini-footer-div{
    max-width: 260px;
    width: 100%;
    height: 191px;
    margin-top: 90px;
    
}
.footer-title{
    font-size: 24px;
    color: #FFFFFF;
}
.footer-para{
    max-width: 260px;
    width: 100%;
    font-size: 14px;
    color: #B1B1B1;
    margin-top: 30px;
    margin-bottom: 20px;
}
.first-ul-title{
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 90px;
    margin-bottom: 20px;
}
.first-footer-a{
    font-size: 14px;
    color: #5863F8;
    margin-bottom: 10px;
}
.contact-footer{
    font-size: 14px;
    color: #FFFFFF;
}
.icon-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack:distribute;
        justify-content:space-around;
}

.color{
    color: #5863F8;
}


.li-margin{
    margin-top: 20px;
    margin-bottom: 20px;
}
.copyrigth{
    max-width: 559px;
    width: 100%;
    color: #707070;
    padding-bottom: 30px;
    
}
.web-adress{
    font-size: 14px;
    color: #5863F8;
    padding-bottom: 30px;
}